
.btn{
    width: 10em;
    margin-left: 30%;
    margin-right: 50%;
    border-radius: 50px;
}
.image1{
 border-radius:30px;
}

@media only screen and (max-width: 768px){
.info{
    border-radius: 30px;
    width: 75%;
    margin-left: 12%;
}
.img1{
    transform: translate(0,11em);
    z-index:3;

}
.img2{
    transform: translate(0,-31em);
}

.img3{
    transform: translate(3em,-170px);
    z-index:2;
}
.img4{
    transform: translate(0,-13em);
}
.rooms{
    transform: translate(0,-10em);
}
.roomImg{
    margin-left: 15%;
    margin-top: 1em;
    width: 70%;
    height:15em;


}
.textImg{
    margin-left: 15%;
}
}
